<div class="col-md-4" th:fragment="circuit-breaker">
    <div class="p-4 border bg-light text-center">

        <h5>Circuit Breaker</h5>
        <button class="btn btn-primary btn-block m-1" data-target="#addCircuitBreakerModal" data-toggle="modal"
                th:ref="addButton">Add
        </button>

        <div id="circuitBreakerContainer">
        </div>

    </div>

    <!-- Modal Add -->
    <div aria-hidden="true" aria-labelledby="addCircuitBreakerModalLabel" class="modal fade" id="addCircuitBreakerModal"
         role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCircuitBreakerModalLabel">Add Circuit Breaker</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addCircuitBreakerForm">
                        <div class="form-group">
                            <label for="cbName">Name</label>
                            <input class="form-control" id="cbName" required type="text">
                        </div>
                        <div class="form-group">
                            <label for="cbIndexDbbiValue">Index Dbbi Value</label>
                            <input class="form-control" id="cbIndexDbbiValue" min="0" required type="number">
                        </div>
                        <div class="form-group">
                            <label for="cbIndexBoCommandOpenClose">Index Bo Command Open Close</label>
                            <input class="form-control" id="cbIndexBoCommandOpenClose" min="0" required type="number">
                        </div>
                        <div class="form-group">
                            <label for="cbIndexBoCommandInvalid">Index Bo Command Invalid</label>
                            <input class="form-control" id="cbIndexBoCommandInvalid" min="0" required type="number">
                        </div>
                        <div class="form-group">
                            <label for="cbIndexBoCommandLocalRemote">Index Bo Command Local Remote</label>
                            <input class="form-control" id="cbIndexBoCommandLocalRemote" min="0" required type="number">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" onclick="submitAddCircuitBreakerForm()" type="button">Add</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function submitAddCircuitBreakerForm() {
            let circuitBreakerModel = {
                name: $("#cbName").val(),
                index_dbbi_value: parseInt($("#cbIndexDbbiValue").val()),
                index_bo_command_open_close: parseInt($("#cbIndexBoCommandOpenClose").val()),
                index_bo_command_invalid: parseInt($("#cbIndexBoCommandInvalid").val()),
                index_bo_command_local_remote: parseInt($("#cbIndexBoCommandLocalRemote").val())
            };

            $.ajax({
                url: "/circuit-breaker/add-data",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(circuitBreakerModel),
                success: function () {
                    updateCircuitBreakerElements();
                    $('#addCircuitBreakerModal').modal('hide');
                }
            });
        }

        function updateCircuitBreakerElements() {
            $.ajax({
                url: "/circuit-breaker/get-all",
                type: "GET",
                contentType: "application/json",
                success: function (data) {
                    $("#circuitBreakerContainer").empty();
                    $.each(data, function (index, circuitBreaker) {
                        const existingElement = $("#" + circuitBreaker.name);
                        if (existingElement.length > 0) {
                            updateCircuitBreakerDynamicElements(circuitBreaker);
                        } else {
                            let circuitBreakerHtml = `
                                 <div class="elements border-dark border-top border-bottom w-100">
                                    <button class="btn btn-danger w-75 m-1" onclick="deleteCircuitBreaker('${circuitBreaker.name}')">Delete</button>

                                    <div class="row justify-content-center">
                                         <div class="container mt-3">
                                             <pre id="json-view-${circuitBreaker.name}" style="overflow-x: auto; text-align: left;">${JSON.stringify(circuitBreaker, null, 2)}</pre>
                                         </div>
                                     </div>

                                     <div class="row justify-content-center mb-3">
                                        <button id="cb-close-${circuitBreaker.name}" class="custom-button btn btn-success cursor-disabled">CLOSE</button>
                                        <button id="cb-open-${circuitBreaker.name}" class="custom-button btn btn-secondary cursor-disabled">OPEN</button>
                                     </div>

                                     <div class="row justify-content-center">
                                         <button class="btn btn-warning rounded-circle small-btn" onclick="actionInvalid(${circuitBreaker.index_bo_command_invalid}, false)">INV 0</button>
                                         <button class="btn btn-success rounded-circle fixed-wh-5em" onclick="actionOpenClose(${circuitBreaker.index_bo_command_open_close}, false)">Close</button>
                                         <button class="btn btn-danger rounded-circle fixed-wh-5em" onclick="actionOpenClose(${circuitBreaker.index_bo_command_open_close}, true)">Open</button>
                                         <button class="btn btn-warning rounded-circle small-btn" onclick="actionInvalid(${circuitBreaker.index_bo_command_invalid}, true)">INV 1</button>
                                     </div>

                                     <div class="row justify-content-center">
                                         <div class="control-knob dark">
                                             <input id="checkbox-local-remote-${circuitBreaker.name}" type="checkbox" onclick="actionLocalRemote(${circuitBreaker.index_bo_command_local_remote}, ${circuitBreaker.value_local_remote})">
                                             <div class="control-position on">
                                                 <span >LOCAL</span>
                                             </div>
                                             <div class="control-position off">
                                                 <span>REMOTE</span>
                                             </div>
                                             <div class="knob">
                                                 <div class="knob-center"></div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             `;
                            $("#circuitBreakerContainer").append(circuitBreakerHtml);
                            updateCircuitBreakerDynamicElements(circuitBreaker);
                        }
                    });
                }
            });
        }

        function actionOpenClose(index, value) {
            let circuitBreakerModel = {
                index_bo_command_open_close: index,
                value_open_close: value
            };
            $.ajax({
                url: "/circuit-breaker/action-open-close",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(circuitBreakerModel),
                success: function () {
                    updateCircuitBreakerElements();
                }
            });
        }

        function actionInvalid(index, value) {
            let circuitBreakerModel = {
                index_bo_command_invalid: index,
                value_invalid: value
            };
            $.ajax({
                url: "/circuit-breaker/action-invalid",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(circuitBreakerModel),
                success: function () {
                    updateCircuitBreakerElements();
                }
            });
        }

        function actionLocalRemote(index, value) {
            let switchValue = !value;
            let circuitBreakerModel = {
                index_bo_command_local_remote: index,
                value_local_remote: switchValue
            };
            $.ajax({
                url: "/circuit-breaker/action-local-remote",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(circuitBreakerModel),
                success: function () {
                    updateCircuitBreakerElements();
                }
            });
        }

        function deleteCircuitBreaker(circuitBreakerName) {
            if (confirm("Are you sure you want to delete circuit breaker: " + circuitBreakerName + "?")) {
                let circuitBreakerModel = {
                    name: circuitBreakerName
                };

                $.ajax({
                    url: "/circuit-breaker/delete-data",
                    type: "DELETE",
                    contentType: "application/json",
                    data: JSON.stringify(circuitBreakerModel),
                    success: function () {
                        updateCircuitBreakerElements();
                        alert("Circuit breaker deleted successfully!");
                    },
                    error: function (error) {
                        console.error("Error deleting circuit breaker:", error);
                        alert("Error deleting circuit breaker: " + error.responseText);
                    }
                });
            }
        }

        function updateCircuitBreakerDynamicElements(circuitBreaker) {
            // cb condition
            if (circuitBreaker.value === 1) {
                $("#cb-close-" + circuitBreaker.name).removeClass("btn-secondary").addClass("btn-success");
                $("#cb-open-" + circuitBreaker.name).removeClass("btn-danger").addClass("btn-secondary");
            } else if (circuitBreaker.value === 2) {
                $("#cb-close-" + circuitBreaker.name).removeClass("btn-success").addClass("btn-secondary");
                $("#cb-open-" + circuitBreaker.name).removeClass("btn-secondary").addClass("btn-danger");
            } else {
                $("#cb-close-" + circuitBreaker.name).removeClass("btn-secondary").addClass("btn-success");
                $("#cb-open-" + circuitBreaker.name).removeClass("btn-secondary").addClass("btn-danger");
            }

            // local remote condition
            // NOTE: DONT change to ===
            let cbLocalRemoteValue = circuitBreaker.value_local_remote == 1;
            $("#checkbox-local-remote-" + circuitBreaker.name).attr("checked", cbLocalRemoteValue);
        }

        $(document).ready(function () {
            updateCircuitBreakerElements();

            // auto update elements
            setInterval(function () {
                updateCircuitBreakerElements();
            }, 1000);
        });
    </script>
</div>
